// ==============================================
// JOIN
// ==============================================

.join {
	z-index: 1;
	padding: 3% 0;
	background: $gray2;

	.container {

		> div {
			@include border-radius(10px);
			@include box-shadow(0 0 10px $blackdot5);
			background: $white;
			padding: 2% 0 0;
		}
	}

	h4 {
		text-align: center;
	}

	.buttons {
		@include flex-container(center, flex-start);
		margin: 2% 0 0;
	}

	.bottom {
		@include flex-container(center, center);
		@include border-radius(0 0 10px 10px);
		background: $red;
		margin: 2% 0 0;
		padding: 2% 0;

		> * {

			&:first-child {
				margin: 0 5px 0 0;
			}
		}
	}
}

@include mobile {
	.join {

		.container {
			> div {
				@include border-radius(0);
			}
		}

		.buttons {
			@include flex-container(flex-start, flex-start, flex-start, nowrap, column);
			margin: 0;

		}

		.bottom {
			@include flex-container(flex-start, flex-start, flex-start, nowrap, column);
			@include border-radius(0);

			> * {
				width: 100%;

				&:first-child {
					margin: 0;
				}
			}
		}

		p {
			text-align: center;
		}
	}
}
